@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Raleway', sans-serif;
    color: #d3d3d3;
    
}

/* Header */
header {
    background-color: #ffffff;
    width: 100%;
    padding: 0.5rem;

}

header a {
    text-decoration: none;
    color:#ff5733
}