@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Raleway', sans-serif;
    color: #3a3a3a;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    max-width: 1920px;
    margin: 0 auto;
}

main {
    margin-top: 35px;
}

/* Header */
header {
    background-color: #ffffff;
    position: fixed;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

header a {
    text-decoration: none;
    color:#ff5733
}

#logo {
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-top: 0.25rem;
    margin-left: 5px;
    font-size: 1.5rem;
}

#menu {
    list-style-type: none;
    letter-spacing: 2px;
    padding-top: 0.75rem;
    font-size: 115%;
    font-weight: 600;
    }

#menu li {
    margin-bottom: 0.5rem;
}

/* Navbar dropdown toggle - credit to * Coding Institute LMS Love Running Walkthrough LRFX101 */ 
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    display: none;
    top: 100%;
}

#nav-toggle:checked~nav {
    display: block;
    padding-left: 5px;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 150%;
    color:#ff5733;
    margin-right: 5px;
    margin-left: 5px;
    padding-top: 0.25rem;
}

.active {
    border-bottom: 1px solid #ff5733
}

/* Hero image */ 

#hero-outer {
    height: 700px;
    width: 100%;
    position: relative;
}

#hero-image {
    height: 700px;
    width: 100%;
    background: url(../images/hero_image_dragon_1920_opt.jpg) no-repeat center center;
}

#text-hero-image {
    position: absolute;
    bottom: 62%;
    color:#ff5733;
    padding-left: 10px;
    font-size: 125%;
    font-weight: 600;
}

#text-hero-image h2 {
    font-size: 200%;
    max-width: 60%;
}

/* Welcome and about us section */ 

#welcome-about-us { 
    text-align: center;
    padding: 20px;
}

#about-us-text {
    font-size: 125%;
}

#about-us-text p {
    padding: 15px 15px;
}

/* Footer */ 

footer {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-top: 10px;
    margin-top: 10px;
    border-top: solid 2px #ff5733
}

#opening-hours {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

#address-footer {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

#social-media-links {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 125%;
    color: #d3d3d3;
}

#social-media-links a {
    color: #3a3a3a;
}

/* styling for games page */ 

.background-image-outer {
    height: 500px;
    width: 100%;
    position: relative;
}

#games-background-image {
    height: 500px;
    width: 100%;
    background: url(../images/background_image_board.jpg) no-repeat center center;
}

#text-games-image {
    position: absolute;
    bottom: 50%;
    right: 50%;
    color:#ff5733;
    padding-left: 10px;
    font-size: 200%;
}

/* Our games section */ 

.our-games {
    padding: 20px 20px 0 20px;
    font-size: 125%;
    text-align: center;
}

.our-games p {
    padding-top: 10px;
    padding-bottom: 10px;
}

#our-games-container h3 {
    padding-bottom: 10px;
    color: #3a3a3a;
    text-decoration: underline;
}
#list-of-games {
    list-style-type: none;
}
#list-of-games li {
    padding-top: 5px;
    font-size: 125%;
    color: #ff5733;
}

/* Styling for events */ 

#events-section {
    padding: 30px 20px 0 20px;
    text-align: center;
}

#events-section h3 {
    color: #3a3a3a;
    font-size: 150%;
    text-decoration: underline;
}

#events-list {
   display: flex;
   flex-flow: row wrap;
}
.events {
    border: 2px solid #ff5733;
    border-radius: 10px;
    margin: 20px auto;
    padding: 15px 10px;
    text-align: center;
    flex: 0 1 220px;
    list-style-type: none;
}

.events p {
    padding-top: 10px;
    padding-bottom: 5px;
}

.events h4 {
    color: #3a3a3a;
}

/* contact us page - */ 

#booktable-background-image {
    height: 500px;
    width: 100%;
    background: url(../images/booktable_dice_1920.jpg) no-repeat center center;
}

#text-booktable-image {
    position: absolute;
    bottom: 50%;
    right: 45%;
    color:#ff5733; 
    padding-left: 10px;
    font-size: 200%;
}


/* book a table form * Credit to W3 school - how to contact form */ 

#form-container {
    background-color: #d3d3d3;
    padding: 15px;
    color: #3a3a3a;
    max-width: 85%;
    margin: 30px auto;
    border: 2px solid #d3d3d3;
    border-radius: 6px;
}

#form-container h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.input-form {
    width: 100%;
    padding: 10px;
    border: 2px solid #ff5733;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 12px;

}

.submit-button {
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 4px;
}

.submit-button:hover {
    background-color: #ff5733;
}




/*Media query for large phones(378px)*/
@media screen and (min-width: 378px) {

    main {
    margin-top: 38px;
    }

    #logo {
    font-size: 1.8rem;
    }

    .nav-toggle-label {
        padding-top: 0.35rem;
    }
}

/*Media query for tablets and larger (768px)*/
@media screen and (min-width: 768px) {
    
    nav {
        display: block;
        position: relative;
        width: fit-content;
        margin-right: 5px;
    }

    #menu {
        display: flex;
        gap: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }
    
    #logo {
        font-size: 225%;
    }

    #menu {
        font-size: 125%;
    }

    main {
        margin-top: 46px;
    }

    #text-contact-image {
        right: 50%;
    }
    
    #text-hero-image h2 {
        max-width: 100%;
    }

}

/*Media query laptops and larger (992px)*/
@media screen and (min-width: 992px) {

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    #social-media-links a {
        padding-right: 15px;
        font-size: 150%;
    }

    #our-games-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .our-games {
        max-width: 500px;
    }

    .our-games p {
        padding-top: 35px;
    }

    #text-hero-image {
        right: 50%;
    }

    #form-container {
        max-width: 70%;
    }
}

/*Media query for desktop (1200px)*/
@media screen and (min-width: 1200px) {

    header {
        max-width: 1920px;
    }

    #form-container {
        max-width: 60%;
    }
}